@import '../../styles/mixins';

.timeline-timeline-event__card {
  min-width: 320px;
  max-width: 320px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.timeline-timeline-event__header-container {
  padding-bottom: 0;
}

.timeline-timeline-event__avatar {
  background-color: #E91E63;
}

.timeline-timeline-event__tag-container {
  margin: 4px 24px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.timeline-timeline-event__tag-container__end {
  margin-bottom: 24px;
}

.timeline-timeline-event__tag {
  margin-right: 4px;
  margin-bottom: 4px;
}

.timeline-timeline-event__tag > span > div {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}

.timeline-timeline-event__media {
 	height: 180px;
}

.timeline-timeline-event__desc-container {
  padding-bottom: 0px;
}

.timeline-timeline-event__desc {
  word-wrap: break-word;
  overflow: hidden;
  max-height: 80px;
  position: relative;
}

.timeline-timeline-event__desc:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(rgba(255, 255, 255, 0) 50px, white);
}

@media (min-width: 600px) {
  .timeline-timeline-event__expand-icon-container {
    margin-right: -8px;
  }
}