@import '../../styles/mixins';

.timeline-timeline-event__card {
  min-width: 345px;
  max-width: 345px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.timeline-timeline-event__avatar {
  background-color: #E91E63;
}

.timeline-timeline-event__media {
 	height: 200px;
}

.timeline-timeline-event__desc {
  word-wrap: break-word;
}