@import '../../styles/mixins';

.home-default-page {
 
}

.landing-page__motto {
  margin: 0 auto 64px;
}

.landing-page__event_intro {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.landing-page__timeline_button {
  margin: 64px auto;
  display: flex;
  justify-content: center;
}
