@import '../../styles/mixins';

.title-bar__app-bar {
  position: relative;
}

.title-bar__menu-icon {
  margin-left: -12px;
  margin-right: 20px;
}

.title-bar__navigation-menu {
  width: 250px;
  height: 100%;
}

.title-bar__navigation-list {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.title-bar__legal-nav {
  text-decoration: none;
}

.title-bar__legal-nav-first {
  margin-top: auto;
}

.title-bar__app-bar-text {
  flex: 1;
  display: flex;
}

.title-bar__app-bar-alpha {
  margin-left: 8px;
}

.title-bar__user-info {
  display: flex;
  align-items: center;
}

.title-bar__user-info-avatar {
  margin-left: 16px;
}